.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.feed {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 10px 5px;
  margin-left: 300px;

  .post {
    background-color: #000;
    //   margin-bottom:20px;
    color: white;

    .post-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .profile-pic {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }

      .username {
        flex-grow: 1;
        padding: 10px 5px;
      }

      i {
        cursor: pointer;
      }
    }

    .post-image img {
      width: 100%;
      height: auto;
      display: block;
      border: 1px solid #333;
    }

    .post-actions {
      display: flex;
      justify-content: space-between;
      padding: 10px 5px;
      font-size: 20px;

      .left {
        display: flex;
        gap: 16px;
      }

      i {
        cursor: pointer;
      }
    }

    .post-likes,
    .post-caption,
    .post-time {
      font-size: 14px;
      padding: 5px;
    }

    .post-time {
      font-size: 12px;
      color: #888;
    }
  }
}
